<% include ../partials/header.ejs %>
	<% include ../partials/navbar.ejs %>

	<div class="ui container josefin-font top-spacing--more">
		<div class="ui relaxed divided items">
			<% blogs.docs.forEach(function(blogs) { %>
				<div class="item">
					<div class="ui large image">
						<img src="/<%= blogs.image %>" alt="blog image">
					</div>
					<div class="middle aligned content">
						<a href="/blogs/<%= blogs._id %>" class="blog__title">
							<%= blogs.title %>
						</a>
						<div class="meta">
							<p class="blog__category">
								<%= blogs.category %>
							</p>
						</div>
						<div class="blog__body">
							<%- blogs.body.substring(0, 210) %>...
								<a href="/blogs/<%= blogs._id %>">continue reading</a>
						</div>
						<div class="extra">
							<div class="ui feed">
								<div class="event">
									<div class="label">
										<img src="/<%= blogs.author.img %>">
									</div>
									<div class="content">
										<div class="summary">
											<p class="user"> <%= blogs.author.username %> </p>
											<div class="date"> 
												<%= blogs.createdAt.toDateString() %> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
		<div class="ui divider"></div>
		<div class="ui pagination menu">
			<% for (var i = 1; i <= blogs.pages; i++) { %>
				<a href="page-<%= [i] %>" class="item"> <%= [i] %> </a>
			<% } %>
			

			<!-- <div class="disabled item">...</div>
			<a class="item">11</a>
			<a class="item">12</a> -->
		</div>
	</div>

<% include ../partials/footer.ejs %>