<% include ../partials/header.ejs %>
  <% include ../partials/navbar.ejs %>

  <div class="ui container crop top-spacing">
    <img class="ui image" src="<%= blog.image %>">
  </div>
  <div class="ui container text josefin-font top-spacing">
    <h1 class="blog__title"><%= blog.title %></h1>
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <span class="user">
              <%= blog.author.username %>
            </span>
            <div class="date">
              <%= moment(blog.createdAt).fromNow() %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog__body">
      <%- blog.body %>
    </div>
    <div class="ui divider"></div>
    <div class="post-icons">
      <a href="#">
        <i class="facebook f icon"></i>
      </a>
      <a href="#">
        <i class="twitter icon"></i>
      </a>
      <span>
        <i class="comment icon"></i>
        <%= blog.comments.length %>
      </span>
    </div>
    <div class="ui divider"></div>

    <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
      <a class="ui yellow button" href="/blogs/<%= blog._id %>/edit">Edit</a>
      <form id="del-form" class="inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button id="del-btn" class="ui red button">Delete</button>
      </form>
    <% } %>
  </div>

  <!-- <div class="ui divider top-spacing"></div> -->
  <div class="ui container top-spacing--more">
    <p class="blog__title--small josefin-font">Maybe you like this ones too!</p>
    <div class="ui stackable three column grid">
      <% nextBlogs.forEach(function(nextBlogs) { %>
        <div class="column">
          <div class="ui link cards">
            <a class="card post-cards" href="/blogs/<%= nextBlogs._id %>">
              <div class="image">
                <img src="<%= nextBlogs.image %>">
              </div>
              <div class="content">
                <div class="header"> <%= nextBlogs.title %> </div>
                <div class="meta">
                  <span class="blog__category"> <%= nextBlogs.category %> </span>
                </div>
                <div class="description">
                  <%- nextBlogs.body.substring(0, 50) %>...
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  <i class="comment icon"></i>
                  <%= nextBlogs.comments.length %>
                </span>
                <span>
                  <i class="calendar alternate outline icon"></i>
                  <%= moment(nextBlogs.createdAt).fromNow() %>
                </span>
              </div>
            </a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <div class="ui text container top-spacing--more">
    <span class="ui horizontal divider header">Comments</span>
    <% blog.comments.forEach(function(comment) { %>
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
          </a>
          <div class="content">
            <a class="author">
              <%= comment.author.username %>
            </a>
            <div class="metadata">
              <div class="date"> <%= moment(comment.createdAt).fromNow() %> </div>
            </div>
            <div class="text">
              <p>
                <%= comment.text %>
              </p>
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
    <form class="ui reply form" action="/blogs/<%= blog._id %>/comments" method="POST">
      <% if (currentUser) { %>
        <div class="field">
          <textarea name="comment[body]"></textarea>
        </div>
        <button class="ui teal labeled icon button">
          <i class="icon edit"></i> 
          Add Comment
        </button>
      <% } else { %>
        <p style="text-align: center;"><a href="/login">Log in</a> to leave a comment!</p>
        <div class="ui divider"></div>
      <% } %>
    </form>
  </div>

  <!-- Delete Modal -->
  <div class="ui modal">
      <div class="header">DELETE</div>
      <div class="content">
        <p>Are you sure you want to DELETE this post?</p>
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve red button">Delete</div>
      </div>
    </div>
    <!-- End of Delete Modal -->
  
 <% include ../partials/footer.ejs %>