<% include ../partials/header.ejs %>
  <% include ../partials/admin-navbar.ejs %>

  <div class="ui container top-spacing">
    <h1><%= currentUser.username %>'s Posts</h1>
      <div class="ui four stackable link cards">
      <% blogs.forEach(function(blog) { %>
        <div class="orange card">
          <a href="/blogs/<%= blog._id %>" class="image">
            <img src="<%= blog.image %>">
          </a>
          <div class="content">
            <a href="/blogs/<%= blog._id %>" class="header"> <%= blog.title %> </a>
            <div class="meta">
              <span class="date"> <%= blog.createdAt.toDateString() %> </span>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

<% include ../partials/footer.ejs %>