<% include ./partials/header.ejs %>
	<% include ./partials/navbar.ejs %>

		<div class="hero-header">
			<div class="ui container center aligned hero-header__title">
				<img src="public/images/blog-title.png" alt="">
			</div>
		</div>

		<div class="ui container text center aligned josefin-font">
			<p class="blog__category">Books / Nature</p>
			<p class="blog__title">Awesome content</p>
			<div class="blog__middle-line"></div>
			<p class="site-motto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius neque et lobortis commodo. Donec quis sollicitudin
				orci, porta accumsan turpis.</p>
		</div>

		<div class="ui container top-spacing josefin-font">
			<div class="column">
				<div class="crop">
					<img class="ui fluid image" src="<%= blogs[0].image %>" alt="placeholder">
				</div>
				<br>
				<div class="ui container center aligned">
					<p class="blog__category"> <%= blogs[0].category %> </p>
					<p class="blog__title">
						<a href="/blogs/<%= blogs[0]._id %>"> <%= blogs[0].title %> </a> 
					</p>
					<div class="blog__middle-line"></div>
					<span class="blog__date">Posted On <%= blogs[0].createdAt.toDateString() %></span>
				</div>
				<br>
				<div class="blog__body">
						<%- blogs[0].body.substring(0, 700) %>...
				</div>
				<br>
				<a class="ui container center aligned" href="/blogs/<%= blogs[0]._id %>">CONTINUE READING</a>
			</div>

			<div class="ui stackable two column grid top-spacing">
				<% blogs.slice(1).forEach(function(blogs) { %>
					<div class="column">
						<div class="crop-image">
							<img class="ui fluid image" src="<%= blogs.image %>" alt="placeholder">
						</div>
						<br>
						<div class="ui container center aligned">
							<p class="blog__category"> <%= blogs.category %> </p>
							<p class="blog__title blog__title--small">
								<a href="/blogs/<%= blogs._id %>"> <%= blogs.title %> </a>
							</p>
							<div class="blog__middle-line blog__middle-line--small"></div>
							<span class="blog__date">Posted On <%= blogs.createdAt.toDateString() %></span>
						</div>
						<br>
						<div class="blog__body">
							<%- blogs.body.substring(0, 150) %>...
							<a href="/blogs/<%= blogs._id %>">continue reading</a>
						</div>
					</div>
				<% }); %>
			</div>
			<div class="ui hidden divider"></div>
			<a class="ui basic fluid button" href="/blogs">Click for More</a>
		</div>

		<% include ./partials/footer.ejs %>